/* .login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: black;
} */

.login__container {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #060F31;
    color: black;
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    border: 1px solid white;
}

.login__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    color: black;
}

.login__btn {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    text-align: center;
    color: white;

}