* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_button {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between;
  align-items: flex-start; */
  /* width: 250px; */
  /* left: 0; */
  /* background-color: aqua; */
}
